click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
alembic==1.13.1
aniso8601==9.0.1
asttokens==2.4.1
attrs==23.2.0
Babel==2.14.0
bcrypt==4.1.2
bleach==6.1.0
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.1
cryptography==42.0.2
DateTime==5.4
debugpy==1.8.0
decorator==5.1.1
dnspython==2.5.0
dynaconf==3.2.4
email-validator==2.1.0.post1
exceptiongroup==1.2.0
executing==2.0.1
flask-babel==4.0.0
Flask-BabelEx==0.9.4
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
flask-mailman==1.0.0
flask-marshmallow==1.1.0
Flask-Migrate==3.1.0
Flask-Principal==0.4.0
flask-pytest==0.0.5
flask-restx==1.3.0
Flask-Security==3.0.0
Flask-Security-Too==5.3.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
idna==3.6
importlib==1.0.4
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.0
ipython==8.20.0
jedi==0.19.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
Mako==1.3.0
marshmallow==3.20.2
marshmallow-sqlalchemy==0.30.0
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
numpy==1.26.3
packaging==23.2
pandas==2.2.0
parso==0.8.3
passlib==1.7.4
platformdirs==4.1.0
pluggy==1.4.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.0
pycparser==2.21
Pygments==2.17.2
PyMySQL==1.1.0
pytest==8.0.0
pytest-flask==1.3.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.4
pywin32==306
pyzmq==25.1.2
referencing==0.33.0
requests==2.31.0
rpds-py==0.17.1
six==1.16.0
speaklater==1.3
SQLAlchemy==2.0.25
SQLAlchemy-Utils==0.41.1
stack-data==0.6.3
tomli==2.0.1
tornado==6.4
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.13
webencodings==0.5.1
WTForms==3.1.2
zope.interface==6.1
